<div class="container">
  <div class="d-flex pt-3">
    <img src="./assets/img/crypto.png" alt="logo" class="logo">
    <h1>CryptoMarket</h1>
  </div>

<input 
  type="text" 
  class="form-control bg-dark text-light border-0 my-4 text-center rounded-0"
  (keyup)="searchCoin()"
  [(ngModel)]="searchText"
  placeholder="Search the Coin"
/>

<table class="table table-dark">
  <thead>
    <tr>
      <th *ngFor="let title of titles" class="text-center align-middle" >
        {{title}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let coin of filteredCoins; let i = index">
      <td class="text-muted text-center align-middle">
        {{i + 1}}
      </td>
      <td class="align-middle">
        <img [src]="coin.image" alt="{{coin.name}}" style="width: 2rem"/>
        <span class="coin-name" style="padding: 0px 10px;">
          {{coin.name}}
        </span>
        <span class="text-muted text-uppercase coin-symbol">
          {{coin.symbol}}
        </span>
      </td>
      <td class="text-center align-middle price" >
        {{coin.current_price.toLocaleString()}}
      </td>
      <td [ngClass]="coin.price_change_percentage_24h > 0 ? 'text-success' : 'text-danger'" class="text-center align-middle"  >
        {{coin.price_change_percentage_24h.toLocaleString()}}
      </td>
      <td class="text-center align-middle">
        {{coin.market_cap_rank}}
      </td>
    </tr>
  </tbody>
</table>
</div>